doctype
html(lang="ru")
  head
      body
          .display-flex.text-field.drobdown-date-filter__text_width
              .drobdown-date-filter__text_margin
                   p.text_size14-dark75 19 авг-23 авг
              button.dropdown__btn
                  img(src='assets/images/elements/dropdown-arrow.png')





