doctype
html(lang="ru")
  head
      body
          .display-flex.drobdown.drobdown_wigth320
              div
                  p.text_size14-dark75.drobdown__text_overflow
                      span.drobdown__span_padding 2
                      span.drobdown__span_padding спальни,
                      span.drobdown__span_padding 2
                      span.drobdown__span_padding кровати,
                      span.drobdown__span_padding 2
                      span.drobdown__span_padding ванные комнаты,
              button.dropdown__btn
                  i.material-icons.dropdown-default__icon_style expand_more



