doctype
html(lang="ru")
  head
      body
          .display-flex.text-field
              .dropdown-guest__text
                  p.text_size14-dark75 Сколько гостей
              button.dropdown__btn
                  img(src='assets/images/elements/dropdown-arrow.png')



