doctype
html(lang="ru")
  head
      body
          .display-flex.drobdown.drobdown_wigth266
              .dropdown__text_padding
                  p.text_size14-dark75 19 авг-23 авг
              button.dropdown__btn
                  i.material-icons.dropdown-default__icon_style expand_more



