doctype
html(lang="ru")
  head
      body
          .display-flex.drobdown.drobdown_wigth320
              .dropdown__text_padding
                  p.text_size14-dark75 Сколько гостей
              button.dropdown__btn
                  img(src='assets/images/elements/dropdown-arrow.png')



