doctype
html(lang="ru")
  head
      body
          .display-flex.drobdown.drobdown_wigth266.dropdown_radius-bottom
              .dropdown__text_padding
                  p.text_size14-dark75 2 спальни, 2 кровати...
              button.dropdown__btn
                  img(src='assets/images/elements/dropdown-arrow.png')



