
.color-sample {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  &:last-child {
    margin-bottom: 80px;
  }
  @media(max-width: 756px){
    width: auto;
    justify-content: space-around;
  }
}
.color-sample_margin {
  margin-bottom: 20px;
}
.color-sample__picture {
  width: 70px;
  height: 70px;
  border-radius: 6px;
}
@dark100: #1F2041;
@dark75: rgba(31, 32, 65, 0.75);
@dark50: rgba(31, 32, 65, 0.5);
@dark25: rgba(31, 32, 65, 0.25);
@dark05: rgba(31, 32, 65, 0.05);
@purle: #BC9CFF;
@green: #6FCF97;
.color-sample__picture_background-dark100 {
  background: @dark100;
}
.color-sample__picture_background-dark75 {
  background: @dark75;
}
.color-sample__picture_background-dark50 {
  background: @dark50;
}
.color-sample__picture_background-dark25 {
  background: @dark25;
}
.color-sample__picture_background-dark05 {
 background: @dark05;
}
.color-sample__picture_background-purple {
  background: @purle;
}
.color-sample__picture_background-green {
  background: @green;
}
.color-sample__text {
  width: 159px;
}
.color-sample__text_size {
  p {
    margin: 0;
    padding: 0;
  }
  font-family: Quicksand;
  font-size: 19px;
  line-height: 29px;
  color: #1F2041;
}
