doctype
html(lang="ru")
  head
      body
          .text-sumple.text-sumple_margin
              .text-sumple__tag
                  p.text_size24-dark25.reset H1
              .text-sumple__text
                  p.text_size24-dark100.reset This one is the sub-section or widget title
          .text-sumple.text-sumple_margin
              .text-sumple__tag
                  p.text_size24-dark25.reset H1
              .text-sumple__text
                  p.text_size24-dark100.reset This one is the sub-section or widget title