doctype
html(lang="ru")
  head
      body
          .text-sumple.text-sumple_margin
              .text-sumple__tag
                  p.text_size24-dark25.reset H1
              .text-sumple__text
                  p.text_size24-dark100.reset This one is the sub-section or widget title
          .text-sumple.text-sumple_margin
              .text-sumple__tag
                  p.text_size19-dark25.reset H2
              .text-sumple__text
                  p.text_size19-dark100.reset Next one is the item title inside <br>widgets
          .text-sumple.text-sumple_margin
              .text-sumple__tag
                  p.text_size12-dark25-uppercase.reset H3
              .text-sumple__text
                  p.text_size12-dark100-uppercase.reset This is a label or CTA text
          .text-sumple.text-sumple_margin
              .text-sumple__tag
                  p.text_size14-dark25.reset Body
              .text-sumple__text
                  p.text_size14-dark75.reset This is the body text which is used for most <br>of the design, like paragraphs, lists, etc