/*@import "global/normalize.less";
@import "global/fonts.less";
@import "global/variables.less";
@import "global/common.less";
@import "global/svg-colors.less";*/
.color-sample {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
}
.color-sample:last-child {
  margin-bottom: 80px;
}
@media (max-width: 756px) {
  .color-sample {
    width: auto;
    justify-content: space-around;
  }
}
.color-sample_margin {
  margin-bottom: 20px;
}
.color-sample__picture {
  width: 70px;
  height: 70px;
  border-radius: 6px;
}
.color-sample__picture_background-dark100 {
  background: #1F2041;
}
.color-sample__picture_background-dark75 {
  background: rgba(31, 32, 65, 0.75);
}
.color-sample__picture_background-dark50 {
  background: rgba(31, 32, 65, 0.5);
}
.color-sample__picture_background-dark25 {
  background: rgba(31, 32, 65, 0.25);
}
.color-sample__picture_background-dark05 {
  background: rgba(31, 32, 65, 0.05);
}
.color-sample__picture_background-purple {
  background: #BC9CFF;
}
.color-sample__picture_background-green {
  background: #6FCF97;
}
.color-sample__text {
  width: 159px;
}
.color-sample__text_size {
  font-family: Quicksand;
  font-size: 19px;
  line-height: 29px;
  color: #1F2041;
}
.color-sample__text_size p {
  margin: 0;
  padding: 0;
}
.text-sumple {
  display: flex;
  justify-content: center;
}
@media (max-width: 756px) {
  .text-sumple {
    width: auto;
    justify-content: space-around;
  }
}
.text-sumple_margin {
  margin-bottom: 50px;
}
.text-sumple__tag {
  width: 37px;
  text-align: right;
}
.text-sumple__text {
  width: 336px;
  margin-left: 30px;
}
.text_size24-dark25 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: rgba(31, 32, 65, 0.25);
}
.text_size19-dark25 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
  color: rgba(31, 32, 65, 0.25);
}
.text_size12-dark25-uppercase {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.25);
}
.text_size14-dark25 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25);
}
.text_size24-dark100 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
}
.text_size19-dark100 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
}
.text_size12-dark100-uppercase {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}
.text_size14-dark75 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.tagh1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #1F2041;
}
.reset {
  margin: 0;
  padding: 0;
}
.colors_wrapper {
  width: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  padding-top: 145px;
  padding-right: 191px;
}
@media (min-width: 1500px) {
  .colors_wrapper {
    padding-left: 15%;
    padding-right: 18%;
  }
}
@media (max-width: 1200px) {
  .colors_wrapper {
    padding-left: 10%;
    padding-right: 13%;
  }
}
@media (max-width: 970px) {
  .colors_wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (max-width: 756px) {
  .colors_wrapper {
    display: block;
    padding-top: 105px;
  }
}
.logo {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: rgba(31, 32, 65, 0.25) 3px solid;
}
.logo__img-left_position {
  position: absolute;
  left: 11px;
  top: 18px;
}
.logo__img-right_position {
  position: absolute;
  left: 25px;
  top: 18px;
}
* {
  box-sizing: border-box;
}
.text-field {
  width: 320px;
  height: 44px;
  border-radius: 4px;
  padding-left: 15px;
  outline: none;
  border: rgba(31, 32, 65, 0.25) 1px solid;
}
.text-field:focus {
  border: rgba(31, 32, 65, 0.5) 1px solid;
}
.text-field:hover {
  border: rgba(31, 32, 65, 0.5) 1px solid;
}
::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
  font-size: 14px;
  line-height: 18px;
}
::-moz-placeholder {
  color: rgba(31, 32, 65, 0.25);
  font-size: 14px;
  line-height: 18px;
}
:-moz-placeholder {
  color: rgba(31, 32, 65, 0.25);
  font-size: 14px;
  line-height: 18px;
}
:-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
  font-size: 14px;
  line-height: 18px;
}
* {
  box-sizing: border-box;
}
.text-field-hover {
  width: 320px;
  height: 44px;
  border-radius: 4px;
  padding-left: 15px;
  outline: none;
  border: rgba(31, 32, 65, 0.5) 1px solid;
}
* {
  box-sizing: border-box;
}
p {
  margin: 0;
  padding: 0;
}
.dropdown-guest {
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 44px;
  padding-left: 15px;
  border: rgba(31, 32, 65, 0.25) 1px solid;
  border-radius: 4px;
}
.dropdown-guest__text {
  padding-top: 8px;
}
.dropdown-guest__text p {
  margin: 0;
  padding: 0;
}
.dropdown-guest__btn {
  width: 44px;
  height: 42px;
  align-items: center;
  text-align: center;
  background: none;
  border: none;
}
button:focus {
  outline: none;
}
.elements-wrapper {
  display: flex;
  justify-content: space-between;
}
.elements-tittle-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.elements-column-left {
  width: 320px;
}
/*
@import "global/mixins.less";
@import "global/animations.less";*/
/*# sourceMappingURL=styles.css.map */