doctype
html(lang="ru")
  head
  body
      .logo
          img(src='assets/images/logo/logo-left.png', class='logo__img-left_position ')
          img(src='assets/images/logo/logo-right.png',class='logo__img-right_position')

