doctype
html(lang="ru")
  head
      body
          .dropdown-guest
              .dropdown-guest__text
                  p.text_size14-dark75 Сколько гостей
              button.dropdown-guest__btn
                  img(src='assets/images/elements/dropdown-arrow.png')



