
.dropdown-guest__text {
  padding-top: 8px;
}
.dropdown__btn {
  width: 44px;
  height: 42px;
  align-items: center;
text-align: center;
  background: none;
  border: none;
}
button:focus {
  outline: none;
}

