doctype
html(lang="ru")
  head
      body
          .display-flex.text-email-wrapper-size
              .text-email__text
                  input(type='emaile' placeholder='email').text-field_width266.text_size14-dark75
              .text-email__btn_margin
                  button.dropdown__btn
                      img(src='assets/images/elements/arrow.png')





