doctype
html(lang="ru")
  head
      body
          input(type='emaile' placeholder='email').text-field_width266.text_size14-dark75
          button.dropdown__btn.text-email__btn
              img(src='assets/images/elements/arrow.png')





