
.elements-tittle-wrapper {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 22.5px;
}
.elements-column-left {
  width: 320px;
}
.elements-tittle-state {
}
.elements-tittle-name-dropdown-date {
  margin-top: 17.5px;
  width: 160px;
  text-align: left;
}
