* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
p, h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
    list-style-type: none;
   }
button {
  padding: 0;
}
 ::-webkit-input-placeholder {
   color: @dark25;
   font-size: 14px;
line-height: 18px;
 }
::-moz-placeholder          {
  color: @dark25;
   font-size: 14px;
line-height: 18px;
}
:-moz-placeholder           {
  color: @dark25;
   font-size: 14px;
line-height: 18px;
}
:-ms-input-placeholder      {
  color: @dark25;
   font-size: 14px;
line-height: 18px;
}
.display-flex {
  display: flex;
   justify-content: space-between;
  align-items: center;
}
.btn-plus-minus {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: @dark25 1px solid;
  color: @dark50;
}
.textDark100 {
  color: @dark100;
  font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
text-transform: uppercase;
}
.oll-display-none {
  display: none;
}

